@charset "UTF-8";

/* main body ------------------------------------------------------------------------------------ */

body {
	background: #dddddd;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: smaller;
	color: #303030;
}

a { text-decoration: none; color: #365a10 }

a h1 {
	color: #303030;
}

a h2 {
	color: #303030;
}

hr {
	border-top: 1px dashed #527d26;
	color: #fff;
	background-color: #fff;
	height: 1px;
}

/* top menu ------------------------------------------------------------------------------------- */

img.menu1 {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

/* navigation boxes ----------------------------------------------------------------------------- */

div.navbox { 
	font-size: 90%; 
	padding-left: 20px;
	color: #ffffff;
	font-size: 20px;
	padding: 2px;
	padding-left: 12px;
	background-color: #aaaaaa;
	-moz-user-select: none;
}

div.navbox a {
	color: #444444;
}


img.navboxbtn {
	float: right; 
	position: relative; 
	top: 5px; 
	left: -5px; 
}

/* images --------------------------------------------------------------------------------------- */

img.imthumb {
	float: left;
}

img.imwidth300 {
	float: left;
	padding-right: 10px;
}

img.imwidtheditor {
	
}

/* inline quote boxes --------------------------------------------------------------------------- */

div.inlinequote {
	margin: 4px 4px 4px 4px;
	display: block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ddd;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	background-color: #EEEEEE;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 12px;
	text-decoration: none;
	font-weight: 200;
}

/* ajax messages -------------------------------------------------------------------------------- */

span.ajaxmsg {
	background-color: green;
	padding-right: 10px;
	padding-left: 10px;
}

span.ajaxerror {
	background-color: red;
	padding-right: 10px;
	padding-left: 10px;
}

span.ajaxwarn {
	background-color: #ff6600;
	padding-right: 10px;
	padding-left: 10px;
}

image.infobutton {
	position: relative; 
	top: 3px;
}

/* wireframe tables ----------------------------------------------------------------------------- */

table.wireframe {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	padding: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: #aaaaaa #aaaaaa #aaaaaa #aaaaaa;
	-moz-border-radius: 0px 0px 0px
}

td.wireframe {
	border-width: 1px 1px 1px 0px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: #aaaaaa #aaaaaa #aaaaaa #aaaaaa;
	-moz-border-radius: 0px 0px 0px 0px;
}

td.title {
	border-width: 1px 1px 0px 0px;
	padding: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: #aaaaaa #aaaaaa #aaaaaa #aaaaaa;
	background: #aaaaaa;
	-moz-border-radius: 0px 0px 0px 0px;
}

span.mychat {
	color: #365a10;
	font-size: 12px;	
}

/* iframes -------------------------------------------------------------------------------------- */

frame.consoleif {
	width: 100%;
	height: 5px;
	border: 0px solid #ffffff; :
}

/* chat windows --------------------------------------------------------------------------------- */

div.cwtext {
	height: 250px;
	width: 200px;
	overflow: auto;
	text-align: left;
}

/* chat and console messages -------------------------------------------------------------------- */

div.chatmessagegray {
	background-color: #fff;
	display: block;
	border-left-style: solid;
	border-left-color: #ddd;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

div.chatmessagegreen {
	background-color: #fff;
	display: block;
	border-left-style: solid;
	border-left-color: #0f0;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

div.chatmessagered {
	background-color: #fff;
	display: block;
	border-left-style: solid;
	border-left-color: #f00;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

div.chatmessageblack {
	background-color: #fff;
	display: block;
	border-left-style: solid;
	border-left-color: #000;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

