@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fontawesome-webfont:before {
  content: "a";
}
.icon-armchair-chair-streamline:before {
  content: "b";
}
.icon-fontawesome-webfont-1:before {
  content: "c";
}
.icon-fontawesome-webfont-2:before {
  content: "d";
}
.icon-fontawesome-webfont-3:before {
  content: "e";
}
.icon-fontawesome-webfont-4:before {
  content: "f";
}
.icon-fontawesome-webfont-5:before {
  content: "g";
}
.icon-fontawesome-webfont-6:before {
  content: "h";
}
.icon-fontawesome-webfont-7:before {
  content: "i";
}
.icon-fontawesome-webfont-8:before {
  content: "j";
}
.icon-fontawesome-webfont-9:before {
  content: "k";
}
.icon-fontawesome-webfont-10:before {
  content: "l";
}
.icon-fontawesome-webfont-11:before {
  content: "m";
}
.icon-fontawesome-webfont-13:before {
  content: "o";
}
.icon-fontawesome-webfont-14:before {
  content: "p";
}
.icon-fontawesome-webfont-15:before {
  content: "q";
}
.icon-fontawesome-webfont-16:before {
  content: "r";
}
.icon-fontawesome-webfont-17:before {
  content: "s";
}
.icon-fontawesome-webfont-18:before {
  content: "t";
}
.icon-fontawesome-webfont-20:before {
  content: "v";
}
.icon-bell:before {
  content: "u";
}
.icon-alert:before {
  content: "w";
}
.icon-air:before {
  content: "x";
}
.icon-droplet:before {
  content: "y";
}
.icon-rocket:before {
  content: "A";
}
.icon-food:before {
  content: "B";
}
.icon-fire:before {
  content: "C";
}
.icon-display:before {
  content: "D";
}
.icon-music:before {
  content: "E";
}
.icon-lock:before {
  content: "F";
}
.icon-shop:before {
  content: "G";
}
.icon-tv:before {
  content: "H";
}
.icon-phone:before {
  content: "I";
}
.icon-truck:before {
  content: "J";
}
.icon-paperplane:before {
  content: "K";
}
.icon-trash:before {
  content: "L";
}
.icon-pen:before {
  content: "M";
}
.icon-key:before {
  content: "N";
}
.icon-cloud:before {
  content: "P";
}
.icon-clock:before {
  content: "Q";
}
.icon-t-shirt:before {
  content: "R";
}
.icon-dribbble:before {
  content: "z";
}
.icon-fontawesome-webfont-19:before {
  content: "S";
}
.icon-fontawesome-webfont-21:before {
  content: "T";
}
.icon-fontawesome-webfont-22:before {
  content: "U";
}
.icon-barbell:before {
  content: "V";
}
.icon-calculator:before {
  content: "W";
}
.icon-enter:before {
  content: "X";
}
.icon-checkbox-checked:before {
  content: "Y";
}
.icon-bulb:before {
  content: "O";
}
.icon-aim:before {
  content: "Z";
}
.icon-baidu:before {
  content: "0";
}
.icon-itunes:before {
  content: "1";
}
.icon-livejournal:before {
  content: "2";
}
.icon-zynga:before {
  content: "3";
}
.icon-unlocked:before {
  content: "4";
}
.icon-star:before {
  content: "5";
}
.icon-stopwatch:before {
  content: "6";
}
.icon-home:before {
  content: "7";
}
.icon-github:before {
  content: "8";
}
.icon-basket:before {
  content: "9";
}
.icon-fontawesome-webfont-23:before {
  content: "!";
}
.icon-fontawesome-webfont-12:before {
  content: "n";
}
.icon-fontawesome-webfont-24:before {
  content: "\"";
}
.icon-fontawesome-webfont-25:before {
  content: "#";
}
.icon-fontawesome-webfont-26:before {
  content: "$";
}
.icon-fontawesome-webfont-27:before {
  content: "%";
}
.icon-fontawesome-webfont-28:before {
  content: "&";
}
.icon-fontawesome-webfont-29:before {
  content: "'";
}
.icon-fontawesome-webfont-30:before {
  content: "(";
}
.icon-fontawesome-webfont-31:before {
  content: ")";
}
.icon-fontawesome-webfont-32:before {
  content: "*";
}
.icon-fontawesome-webfont-33:before {
  content: "+";
}
.icon-fontawesome-webfont-34:before {
  content: ",";
}
.icon-fontawesome-webfont-35:before {
  content: "-";
}
.icon-trees:before {
  content: ".";
}
.icon-male-female:before {
  content: "/";
}
.icon-lightbulb:before {
  content: ":";
}
.icon-foot:before {
  content: ";";
}
.icon-guide-dog:before {
  content: "<";
}
.icon-home-1:before {
  content: "=";
}
.icon-blind:before {
  content: ">";
}
.icon-paint-bucket-streamline:before {
  content: "?";
}
.icon-computer-macintosh-vintage:before {
  content: "@";
}
.icon-barbecue-eat-food-streamline:before {
  content: "[";
}
.icon-bomb-bug:before {
  content: "]";
}
.icon-camera-streamline-video:before {
  content: "^";
}
.icon-rain-black-2:before {
  content: "_";
}
.icon-rain-2:before {
  content: "`";
}
.icon-rain-1:before {
  content: "{";
}
.icon-cloud-sun:before {
  content: "|";
}
.icon-cloud-sun-black:before {
  content: "}";
}
.icon-lightning-3:before {
  content: "~";
}
.icon-cloud-1:before {
  content: "\";
}
.icon-cloud-2:before {
  content: "\e000";
}
.icon-fog-sunrise:before {
  content: "\e001";
}
.icon-sun:before {
  content: "\e002";
}
.icon-zoo-24:before {
  content: "\e003";
}
.icon-warehouse-24:before {
  content: "\e004";
}
.icon-swimming-24:before {
  content: "\e005";
}
.icon-slaughterhouse-24:before {
  content: "\e006";
}
.icon-soccer-24:before {
  content: "\e007";
}
.icon-school-24:before {
  content: "\e008";
}
.icon-park2-24:before {
  content: "\e009";
}
.icon-garden-24:before {
  content: "\e00a";
}
.icon-fuel-24:before {
  content: "\e00b";
}
.icon-ferry-24:before {
  content: "\e00c";
}
.icon-emergency-telephone-24:before {
  content: "\e00d";
}
.icon-disability-24:before {
  content: "\e00e";
}
.icon-danger-24:before {
  content: "\e00f";
}
.icon-bus-24:before {
  content: "\e010";
}
.icon-cinema-24:before {
  content: "\e011";
}
.icon-alcohol-shop-24:before {
  content: "\e012";
}
.icon-magnifier:before {
  content: "\e013";
}
.icon-scooter:before {
  content: "\e014";
}
.icon-palm-tree:before {
  content: "\e015";
}
.icon-nurse-user:before {
  content: "\e016";
}
.icon-missile-rocket:before {
  content: "\e017";
}
.icon-mailbox-1:before {
  content: "\e018";
}
.icon-helicopter:before {
  content: "\e019";
}
.icon-crown-king-1:before {
  content: "\e01a";
}
.icon-car:before {
  content: "\e01b";
}
